{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sort/style.css' %}" />

<div id="prompt">
    <p>
    Which image <strong>more creatively</strong> fulfills the following prompt:

        <quote>
        "Design a smartphone application that supports college students in managing
        their time."
        </quote>
    </p>
</div>

<a href="vote/{{ o1.id }}/{{ o2.id }}/0">
    <div id="same">
        They are equally creative
    </div>
</a>

<div class="left">
    <a href="vote/{{ o1.id }}/{{ o2.id }}/1">
        <div id="image1">
            <img src="../{{ o1.image }}"/>
        </div>
    </a>
</div>

<div class="right">
    <a href="vote/{{ o1.id }}/{{ o2.id }}/-1">
        <div id="image2">
            <img src="../{{ o2.image }}"/>
        </div>
    </a>
</div>

